.DS_Store
node_modules/
npm-debug.log
.vscode/*
\.idea/
.vscode/launch.json
.vscode/settings.json
log
package-lock.json
src/ac_test\.js
fireBrigade/tool/slotLog/export/
fireBrigade/tool/slotLog/source/
dist
google-service-key.json
AuthKey_*.p8
test\.js
src/key/
fireBrigade/tool/incVipPoint/result/
fireBrigade/tool/actury/scrabble/csv/
*.csv
